.btn-outline-danger {
    display: inline-block;
    width: 400px;
    height: 150px;
    background: #ffffff !important;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    color: rgb(76, 99, 201);
    font-weight: bold;
    line-height: 25px;
    margin: 1px 1px;
    margin-top: 130px;
    margin-bottom: 75px;
    margin-left: 250px;
    margin-right: 250px;
    border-color: rgb(76, 99, 201);
    outline: none;
}
/* Lors du survol du bouton de la page d'accueil */
.btn-outline-danger:hover {
    background: rgb(76, 99, 201) !important;
    color: #ffffff;
    border-color: rgb(76, 99, 201);
}

.btn-outline-danger:focus {
    box-shadow: none;
}

body {
    background-color: rgb(255, 255, 255) ;
}